<ion-pane>
  <ion-footer-bar class="bar-transparent">
    <button class="button button-clear">{{ totalCards }} total</button>
    <h1 class="title"></h1>
    <button class="button button-clear green">{{ correctCards }} correct</button>
  </ion-footer-bar>
  <swipe-cards>
    <swipe-card ng-repeat="question in questions" on-destroy="cardDestroyed($index)" on-card-swipe="cardSwiped($index)" class="{{question.category}}">

      <div class="flip-container" ng-controller="CardCtrl" ng-class="{'hover': showAnswer}" ng-click="showAnswer = !showAnswer">
        <div class="flipper">
          <div class="front">
            <div class="left-top">{{ currentCard.id }}</div>
            <div class="right-top">{{ question.category | uppercase }}</div>
            <div class="content">
              {{ question.title }}
            </div>
          </div>
          <div class="back">
            <div class="content">
              {{ question.answer }}
            </div>
            <div class="left-bottom">
              <a class="icon ion-close-round" ng-click="incorrect()"></a>
            </div>
            <div class="right-bottom">
              <a class="icon ion-checkmark-round" ng-click="correct()"></a>
            </div>
          </div>
        </div>
      </div>
    </swipe-card>
  </swipe-cards>

</ion-pane>
